
  <div class="article-preview" *ngFor="let article of articlesList">
    <div class="article-meta">
      <a href="profile.html"
        ><img [src]="article.author.image"
      /></a>
      <div class="info">
        <a routerLink="/{{ article.author.username }}" routerLinkActive="router-link-active"  class="author">{{ article.author.username }}</a>
        <span class="date">{{ article.createdAt }}</span>
      </div>
      <button appDebounceClick (debounceClick)="onFavourite(article.slug, article, unfavourite)" [debounceTime]="500" class="btn btn-outline-primary btn-sm pull-xs-right" *ngIf="!article.favorited" #favourite>
        <i class="ion-heart"></i> {{ article.favoritesCount }}
      </button>
      <button appDebounceClick (debounceClick)="onUnfavourite(article.slug, article, favourite)" [debounceTime]="500" class="btn btn-outline-primary btn-sm pull-xs-right green" *ngIf="article.favorited" #unfavourite>
        <i class="ion-heart"></i> {{ article.favoritesCount }}
      </button>
    </div>
    <a routerLink="/article/{{ article.slug }}" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.body }}</p>
      <span>Read more...</span>
    </a>
  </div>
